<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>[{{ aphorism.x }}] driven development</title>
  
  <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}">

  <style type="text/css">
      #toppadding {
          margin-top: 3em;
      }
      #hero-box {
          margin-bottom: 0px;
          text-align: left;
      }
      #the-description {
          font-size: larger;
      }
      #meta-bar {
          float: right;
      }
  </style>

  <script src="{{ url_for('static', filename='js/vendor/custom.modernizr.js') }}"></script>

  <script>
      var Aphorisms = {{ preloaded_aphorisms|safe }} ;
  </script>

</head>
<body>

	<div class="row">
		<div class="small-1 small-centered columns">
			<p id="toppadding">&nbsp;</p>
		</div>
	</div>

	<div class="row">
		<div class="small-12 small-centered columns">
                    <div class="panel callout radius content" id="hero-box">
                        <h1><a href="{{ url_for('index') }}"><span class="radius secondary label" id="the-aphorism">{{aphorism.x}}</span></a> driven development</h1>
                        <p id="the-description">{{aphorism.desc}}.</p>
                    </div>
		</div>
	</div>
	<div class="row">
            <div class="small-4 small-offset-8 columns">
                <ul class="button-group radius" id="meta-bar">
                    <li><a id="the-source" href="{{ aphorism.source }}" alt="source" title="source" class="button tiny secondary">Source</a></li>
                    <li><a id="the-permalink" href="{{ url_for('index', slug=aphorism.slug) }}" alt="permalink" title="permalink" class="button tiny secondary">§</a></li>
                </ul>
            </div>
	</div>

  <script>
      document.write("<script src={{ url_for('static', filename='') }}" + 
          ('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
          '.js><\/script>');
  </script>

  <script src="{{ url_for('static', filename='js/xdd.js') }}"></script>

</body>
</html>
